<?xml version="1.0"?>
<configuration>
  <configSections>
  </configSections>
  <appSettings>
    <add key="ApplicationName" value="GeaLimitedWCFService"/>
    <add key="ApplicationCode" value="GEA-PL"/>
    <add key="IgnoreSslErrors" value="true"/>
    <add key="LoggingActivated" value="true"/>
    <!-- Proxy Setting -->
    <add key="UseDefaultProxy" value="true"/>
    <add key="ProxyHost" value="127.0.0.1"/>
    <add key="ProxyPort" value="8888"/>
    <!--Partner Settings-->
    <add key="PHPMaxPayoutLimit" value="50000"/>
    <add key="USDMaxPayoutLimit" value=""/>
    <add key="PayoutCodeUSD" value="GEA-PLPAY1"/>
    <add key="WS_URL" value="https://callbk-cebuana-pp.gea.io/cebuana/v1"/>
    <add key="Lookup_Endpoint" value="request-tx"/>
    <add key="Payout_Endpoint" value="confirm-tx"/>
    <add key="Password" value="test123"/>
    <add key="SecurityKey" value="8674f83c-379b-4892-8520-dc614d3c4798"/>
    <!--Security Settings-->
    <add key="RemittanceSecretKey" value="IqUxzBF3/DZVY3gGUf9OIx0DR65er0AhNQuzqESFKKg="/>
    <add key="TokenExpiration" value="30"/>
    <add key="SecurityProtocolType" value="3072"/>
    <add key="isTLS12" value="true"/>
    <!--Database Settings-->
    <add key="StoredProcedureInsertPayoutTransaction" value="[GEA].[proc_InsertPayoutTransaction]"/>
    <add key="StoredProcedureUpdatePayoutTransaction" value="[GEA].[proc_UpdatePayoutTransaction]"/>
  </appSettings>
  <connectionStrings>
    <add name="RemittanceDBConnection" connectionString="Data Source=; Initial Catalog=; Integrated Security=False; User ID=; Password="/>
  </connectionStrings>
  <system.web>
    <compilation targetFramework="4.0" debug="true"/>
    <authentication mode="Windows"/>
    <httpRuntime enableVersionHeader="false"/>
    <webServices>
      <soapExtensionTypes>
        <add type="SoapHelpers.TraceExtension, SoapHelpers" priority="1" group="0"/>
      </soapExtensionTypes>
    </webServices>
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/>
  </system.web>
  <system.serviceModel>
    <client />
    <services>
      <service behaviorConfiguration="DefaultServiceBehavior" name="TransFastWCFService.TransFastWCF">
        <endpoint address="v1" behaviorConfiguration="RestEndPointBehavior"
          binding="webHttpBinding" bindingConfiguration="WebHttpBindingConfig"
          contract="TransFastWCFService.ITransFastWCF" />
        <endpoint address="SoapService" binding="wsHttpBinding" bindingConfiguration="wsHttpBindingConfig"
          contract="TransFastWCFService.ITransFastWCF" />
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="DefaultServiceBehavior">
          <!-- To avoid disclosing metadata information, set the value below to false and remove the metadata endpoint above before deployment -->
          <serviceMetadata httpGetEnabled="true"/>
          <!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="true"/>
        </behavior>
        <behavior name="debug">
          <serviceDebug includeExceptionDetailInFaults="false"/>
        </behavior>
      </serviceBehaviors>
      <endpointBehaviors>
        <behavior name="RestEndPointBehavior">
          <webHttp helpEnabled="true" automaticFormatSelectionEnabled="true"/>
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <serviceHostingEnvironment multipleSiteBindingsEnabled="true" aspNetCompatibilityEnabled="false" minFreeMemoryPercentageToActivateService="0"/>
    <bindings>
      <wsHttpBinding>
        <binding name="wsHttpBindingConfig">
          <security mode="None">
            <transport clientCredentialType="None" />
          </security>
        </binding>
      </wsHttpBinding>
      <webHttpBinding>
        <binding name="WebHttpBindingConfig">
          <security mode="None">
            <transport clientCredentialType="None" />
          </security>
        </binding>
      </webHttpBinding>
    </bindings>
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    <validation validateIntegratedModeConfiguration="false"/>
    <httpProtocol>
      <customHeaders>
        <add name="X-Frame-Options" value="SAMEORIGIN"/>
        <add name="X-Xss-Protection" value="1; mode=block"/>
        <add name="X-Content-Type-Options" value="nosniff"/>
        <add name="Referrer-Policy" value="noreferrer"/>
      </customHeaders>
    </httpProtocol>
    <defaultDocument>
      <files>
        <remove value="iisstart.htm"/>
        <remove value="default.aspx"/>
        <remove value="Default.asp"/>
        <remove value="index.html"/>
        <remove value="index.htm"/>
        <remove value="Default.htm"/>
        <remove value="Index.php"/>
        <remove value="Default.php"/>
        <add value="GeaLimitedWCFService.svc"/>
      </files>
    </defaultDocument>
  </system.webServer>
</configuration>