<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.serviceModel>
        <bindings>
            <wsHttpBinding>
                <binding name="WSHttpBinding_IWesternUnionWCF">
                    <security mode="None" />
                </binding>
            </wsHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:51143/WesternUnionWCFService.svc/SoapService"
                binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IWesternUnionWCF"
                contract="WesternUnionService.IWesternUnionWCF" name="WSHttpBinding_IWesternUnionWCF" />
        </client>
    </system.serviceModel>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
